.section{
padding:20;
background-image: url('https://images.pexels.com/photos/1173987/pexels-photo-1173987.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    ;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}